<%- include('../partials/header', { title: title || 'Wystąpił błąd' }) %>

<h1><%= title || 'Błąd' %></h1>
<p><%= message %></p>
<a href="/">Wróć na stronę główną</a>

<%- include('../partials/footer') %>
