<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title><%= typeof title !== 'undefined' ? title : 'Recenzje filmow' %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <a href="/"><h1>Aplikacja Recenzji Filmów</h1></a>
    <nav>
        <a href="/">Lista Filmów</a> |
        <a href="/add">Dodaj Film</a>
    </nav>
</header>
<main class="content-wrapper">
